<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contact Request</h1>
    <p>
      Name: <%= @contact_form.name %><br />
      Email: <%= @contact_form.email %><br />
      Subject: <%= @contact_form.subject %><br />
      <br />
      <%= @contact_form.body.gsub(/\n/, '<br />').html_safe %><br />
    </p>
  </body>
</html>

