// Place all the styles related to the Charities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.charity-btn {                                                                                                                                                                                  
  width: 250px;                                                                                                                                                                                 
}

.charity-url {                                                                                                                                                                                  
  padding-left: 50px;
  font-size: 80%;
}

.charity-field {
  width: 400px;
}
