@import "bootstrap";

@mixin list {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.charities {
  @include list;
}

.merchants {
  @include list;
}

.shop-link {
  font-size: 150%;
}

.cancel-link {
  padding-left: 20px;
}

.subtle-link {
  padding-left: 50px;
  font-size: 80%;
}

